{% extends "base.html" %}
{% block content %}
<br>

<div class="container">
    {% if display %}
    <p>Write your blog here!</p>
    <br>
    <form action="{{ url_for('after_submit') }}" method="POST">
        <div class="field">
            <div class="control">
              <textarea name="blog-text" class="textarea is-success" placeholder="Share your thoughts..."></textarea>
            </div>
          </div>
        <div class="buttons">
          <button type="submit" class="button is-warning is-light">Submit!</button>
        </div>   
    </form>
    {% endif %}
    {% if not display %}
    <h3>You have already submitted your blog for today!</h3>
    {% endif %}
</div>
{% endblock %}